body {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #eeeeee;
}

div.header {
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    height: 50px;
    text-align: center;
    background-color: #bbbbbb;
    vertical-align: middle;
    box-shadow: 5px 5px 6px #888888;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.title span {
    font-size: 28pt;
    color: #222222
}

div.client span {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20pt;
}

div.display {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    bottom: 70px;
    overflow: scroll;
}

div.message {
    position: relative;
    margin-top: 5px;
    padding: 5px;
    height: 20px;
    top: 60px;
    left: 20px;
    right: 50px;
    width: 95%;
    
    box-shadow: 3px 3px 3px #888888;
    border-radius: 3px;
    border-top-left-radius: 0px;
}

div.message.sent {
    left: 10px;
    background-color: #000000;
    color: white;
}

div.message.sent span.id {
    color: #aaaaaa;
}

div.message.received {
    right: 10px;
    background-color: #ffffff;
    color: black;
}

div.message.received span.id {
    color: #666666;
}

div.footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    vertical-align: middle;
}

div.input {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 30px;
    vertical-align: middle;
}

input#msg {
    width: 100%;
    left: 0px;
    height: 30px;
    font-size: 18pt;
}
