html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #eeeeee;
}

div#header {
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    height: 50px;
    text-align: center;
    background-color: #bbbbbb;
    vertical-align: middle;
    box-shadow: 5px 5px 6px #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#footer {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 15px;
    height: 51px;
    background-color: #bbbbbb;
    vertical-align: middle;
    box-shadow: 5px 5px 6px #000000;
    border-radius: 5px;
}

div.input {
    position: absolute;
    left: 9px;
    right: 14px;
    bottom: 13px;
    height: 30px;
    vertical-align: middle;
}

input#msg {
    width: 100%;
    left: 0px;
    height: 30px;
    font-size: 18pt;
    border-radius: 5px;
}

div.title span {
    font-size: 28pt;
    color: #222222
}

div.client span {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20pt;
}

div#display {
    padding-top: 55px;
    padding-bottom: 90px;
}

div.message {
    position: relative;
    margin-top: 5px;
    padding: 5px;
    width: 95%;
    left: 1.25%;
    
    box-shadow: 3px 3px 3px #888888;
    border-radius: 3px;
    border-top-left-radius: 0px;
}

div.message.sent {
    background-color: #000000;
    color: white;
}

div.message.sent span.id {
    color: #aaaaaa;
}

div.message.received {
    background-color: #ffffff;
    color: black;
}

div.message.received span.id {
    color: #666666;
}

div#bottom {
    height: 0px;
    padding: 0;
    margin: 0;
}
